{% extends 'layout/base.twig' %}

{% block content %}
  <header>
    <span class="pagetitle">
      <a href="{{ CGIURL }}" style="text-decoration: none;">{{ BBSTITLE }}</a>
    </span>
  </header>
  <h1>
    Administration menu
  </h1>
  <p>
    <strong>WARNING:</strong>
    ACCESS BY UNAUTHORIZED PERSONNEL IS STRICTLY PROHIBITED. PERPETRATORS WILL BE
    TRACKED, LOCATED, AND DETAINED.
  </p>
  <form method="post" action="{{ CGIURL }}">
    <input type="hidden" name="m" value="ad" />
    <input type="hidden" name="ad" value="k" />
    <input type="hidden" name="u" value="{{ U }}" />
    <input type="hidden" name="v" value="{{ V }}" />
    <input type="submit" value="Delete messages" class="btn" />
  </form>
  <form method="post" action="{{ CGIURL }}">
    <input type="hidden" name="m" value="ad" />
    <input type="hidden" name="ad" value="l" />
    <input type="hidden" name="u" value="{{ U }}" />
    <input type="hidden" name="v" value="{{ V }}" />
    <input type="submit" value="View log file" class="btn" />
  </form>
  <form method="post" action="{{ CGIURL }}">
    <input type="hidden" name="m" value="ad" />
    <input type="hidden" name="ad" value="p" />
    <input type="hidden" name="u" value="{{ U }}" />
    <input type="hidden" name="v" value="{{ V }}" />
    <input type="submit" value="Regenerate encrypted password" class="btn" />
  </form>
  <form method="post" action="{{ CGIURL }}">
    <input type="hidden" name="m" value="ad" />
    <input type="hidden" name="ad" value="phpinfo" />
    <input type="hidden" name="u" value="{{ U }}" />
    <input type="hidden" name="v" value="{{ V }}" />
    <input type="submit"
      value="Server PHP configuration information"
      class="btn" />
  </form>
  <br />
  <form method="post" action="{{ CGIURL }}">
    <input type="submit" value="Close" class="btn" />
  </form>
{% endblock %}
