{% extends 'layout/base.twig' %}

{% block content %}
  <header>
    <span class="pagetitle">{{ BBSTITLE }}</span>
    - Password settings page
  </header>
  <form method="post" action="{{ CGIURL }}">
    <div class="bbsmsg">
      Encrypted password generated!<br />
      Paste the following encrypted password string into the designated section of
      the main bulletin board script.
    </div>
    <br /><br />
    <table border="2" cellspacing="4">
      <tr>
        <td align="center">
          Admin password
        </td>
        <td align="center">
          <input size="{{ INPUTSIZE }}"
            type="text"
            name="cp"
            value="{{ CRYPTPASS }}"
            readonly="readonly"
            class="text" />
        </td>
      </tr>
    </table>
    <br /><br />
    <a href="{{ CGIURL }}">Bulletin board</a>
  </form>
{% endblock %}
