<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ META_DESCRIPTION }}" />
    <meta name="keywords" content="{{ META_KEYWORDS }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no, address=no" />
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="canonical" href="{{ CANONICAL }}" />
    <meta name="theme-color" content="#004040" />
    <meta name="msapplication-TileColor" content="#004040" />
    <meta property="og:title" content="{{ TITLE }}" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="{{ META_DESCRIPTION }}" />
    <meta property="og:site_name" content="{{ TITLE }}" />
    <title>
      {{ TITLE }}
    </title>
    <script type="text/javascript" src="/js/kaomoji.js"></script>
    <script type="text/javascript" src="/js/ayashiibreaker.js" defer></script>
    <script type="text/javascript" src="/js/upthumb.js" defer></script>
    <script type="text/javascript" src="/js/vidembed.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      :root { --color-background: #{{ C_BACKGROUND|default('004040') }};
      --color-text: #{{ C_TEXT|default('efefef') }}; --color-link: #{{
        C_A_COLOR|default('cfe')
      }}; --color-visited: #{{ C_A_VISITED|default('ddd') }}; --color-active: #{{
        C_A_ACTIVE|default('f00')
      }}; --color-hover: #{{ C_A_HOVER|default('1ee') }}; --color-subject: #{{
        C_SUBJ|default('fffffe')
      }}; --color-quote: #{{ C_QMSG|default('ccc') }}; --color-error: #{{
        C_ERROR|default('f00')
      }}; }
      {{ CUSTOMSTYLE|default('')|raw }}
    </style>
    {{ CUSTOMHEAD|raw }}
  </head>
  <body>
    <a id="top"></a>
    <header>
      <span class="pagetitle">
        <a href="{{ CGIURL }}" style="text-decoration: none;">{{ BBSTITLE }}</a>
      </span>
      <span class="link_upper">
        <a href="{{ INFOPAGE }}" title="{{ TRANS_PR_OFFICE_TITLE }}">
          {{ TRANS_PR_OFFICE }}
        </a>
        <a href="mailto:{{ ADMINMAIL }}" title="{{ TRANS_EMAIL_ADMIN }}">
          {{ TRANS_CONTACT }}
        </a>
        <a href="{{ DEFURL|raw }}&amp;m=g"
          target="_blank"
          title="{{ TRANS_MESSAGE_LOGS_TITLE }}">
          {{ TRANS_MESSAGE_LOGS }}
        </a>
        <a href="{{ CGIURL }}?{{ QUERY|raw }}&amp;m=tree"
          title="{{ TRANS_TREE_VIEW_TITLE }}">
          {{ TRANS_TREE_VIEW }}
        </a>
        |&nbsp;<a href="#bottom" title="{{ TRANS_BOTTOM }}">▼</a>
      </span>
    </header>
    {{ FORM|raw }}
    {{ STATS|raw }}
  </body>
</html>
